# temporary files
*.log

# python binaries
*.pyc
*.pyo
*__pycache__*

# development
.idea/*
.vscode/*
venv/*

# electrum deployment
contrib/electrum
contrib/electrumx
.eggs
build
dist
lnregtest.egg-info

# tests
test/test_data
